body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edefee;
}
#root,
footer{
  width: 100%;
  margin: auto;
}
nav{
  width: 75%;
  margin: auto;
}
nav.bg-body-tertiary{
   background: #edefee!important;
}
#navbarNav{
  justify-content: end;
  background: #edefee!important;
  list-style-type: none;
}
footer{  
  bottom: 0;
  border: 1px solid #000000;
}

@media (max-width: 991px){
  button{
    font-size: 16px!important;
  }
  #root,
  footer{
    width: 100%;
  }
  nav{
    width:100%
  }
  .hero{
    margin-bottom: 1rem!important;
  }
  .hero .c1 {
    width: 100%!important;
    margin: auto;
	  margin: 10px;
  }
    .hero-about {
      width: 100%!important;
  }
  .hero-s2 { 
    width:9rem!important;
    margin-top: 90px!important;
    height: 9rem!important;
    margin-right: 10px;
  }
  .hero-button {
    margin-top: -2rem!important;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  
  /* specials */ 
  .specials .grid-container {
    width: auto!important;
    grid-template-columns: auto!important;
  }
  .specials img{
    height: auto!important;
  }
  .specials section{   
    display: block!important;
    margin: 10px!important;
  }  
  .testify{
    max-width: 100%!important;
  }
  .testify .card {
    width: 100%!important;
  }

  /* About */
  .about{
    width: 100%!important;
  }
  .about-img1{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin-top: 0!important;
  }
  .about-img2 {
    display: none;
  }
  .about img{
    width: 150px!important;   
  }
  footer{
    width: 100%!important;
  }
}

@media (max-width: 350px){
 .about img, .hero-s2 {display: none;}
}

/* Hero */
.hero{
  display: flex;
  background-color: #495E57;
  border:1px solid black;
  height: 350px;
  margin-bottom: 5rem;
 
}
.hero .c1{
  width: 75%;
  margin: auto;
}
.about h1,
.hero h1{
font-family: 'Markazi Text';
color: #F4CE14;
margin-bottom: 0;
}
.about h2,
.hero h2{
  font-family: 'Markazi Text';
  color: #FFFFFF;
}
.hero-s1{
  width: 30%;
  height: 21rem;
  margin-left: 1rem;
  flex: auto;
}
.hero-s2{
  background-color: orange;
  border:1px solid black;
  width: 18rem;
  height: 25rem;
  border-radius: 1rem;
  margin-top: 10px;
  background-image: url("../public/images/chef2.png");
  background-repeat: round;
  flex: 0 1 auto
}
.hero-about{
  width: 38rem;
}
.about p,
.hero p{
  font-family: 'karla';
  color: #FFFFFF;
}
.specials button, 
.specials button:hover,
.hero button:hover,
.hero button{
background:#F4CE14;
color:#495E57;
border:#495E57 1px solid;
}

/* .specials  */
.specials {
  width: auto;
  margin: auto;
}
.specials h2{
  font-family: 'Markazi Text';
  color: #000000;
}
.specials .grid-container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
}
.specials .grid-item{
  width: 100%;
}
.specials img{
  height: 295px;
}
.specials section{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between
}

/* testify */
.testify{
  max-width: 75%;
  margin: auto;
  margin-top: 1rem;
  padding: 0;
}
.testify .card{
  width: 21.5rem;
  padding: 0;
}
.testify .row{
  gap:1rem;
  margin: 0;
}

/* About */
.about{
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  background-color: #495E57;
}
.about-img1{
  margin-top: 30px;
}
 .about-img2{
  margin-left: -30px;
} 
.about img{
  width: 200px;
  height: 255px;
  border: 1px black solid; 
}

/* footer */
footer{
  width: 75%;
  background-color: #edefee!important;
}
footer  img{
  width: 75px;
  height: auto;  
}
.error{
  color:red;
}