// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

.nav-link:hover, .nav-link:focus{
    font-size: 25px!important;
}
.nav-link{        
    color: #495E57!important;
}
.nav-link:focus{
    // font-size: 18px;
    font-weight: bold;
    // color:#495E57;
    text-decoration: underline;
  }

 

.specials .card-text:last-child.card-text:focus,
.specials .card-text:last-child:hover {   
    position: absolute;
    background: #F4CE14;
    -webkit-line-clamp: unset;
    border-radius: 1rem;
    padding: 1rem;
}
.specials .card-text:last-child { 
    display: -webkit-box;    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2rem;
    z-index: 1;
    position: absolute;
}
.specials-cb{
    min-height:5rem;
}

.specials .card-img-delivery{
    width: 25px;
    height: 25px!important;
}
.specials .card-title-price{
    color: red;;
}
.testify .card-text{
    display: -webkit-box;    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2rem;
    z-index: 1;
}
.testify .card-text:focus,
.testify .card-text:hover{
    position: absolute;
    background: #F4CE14;
    -webkit-line-clamp: unset;
    border-radius: 1rem;
    padding: 1rem;
}
.confirm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.confirm img{
    width: 100%;
    margin: auto;
}
.confirm .header-text{
    font-size: 25px;
    margin-bottom: 10px;
}
.confirm-list{
    list-style: none;
    padding-left: 0px;
}
.confirm-list label{
    font-weight: bold;
}

@media (max-width: 991px){
    nav .container-fluid{
      flex-direction: row-reverse;
      .logo{
        flex: 1;
        display: flex;
        justify-content: space-around;
      } 
      #navbarNav{
        position: fixed;
        background-color: #F4CE14!important;
        border-radius: 16px!important;
        padding: 0; 
        margin-top: 25px;
        width: auto;
      }
    }
    .confirm{
        width: 100%;
        padding: 10px;
    }
}
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
    //enter code here
    .confirm{
        width: 75vw;
    }
    .confirm img {
        height: 200px;
    }
}

.btn{
    background-color: #495E57;
    height: 60px;
    border-radius: 30px;
    border:1px solid #000000;
    width: 183px;
}  
.btn:hover{
    background-color: #495E57;
    border-color: #000000;
}

.booking-form{
    max-width: 768px;
    margin: auto;
    padding: 10px;
}
